<h1>Artists & Songs:</h1>
<% @artists.each do |artist| %>
  <%= artist.name %><br>
  <label>Number of Songs:</label>
  <%= pluralize(artist.songs.count, 'song') %></h3><br>
  <label>Songs:</label>
  <% artist.songs.each do |song| %>
    <%= link_to song.title, song_path(song) %>
  <% end %>
<% end %>
